/* utils */
$lighter-percent = 10%
$light-percent = 20%
$medium-percent = 30%
$half-percent = 50%
$strong-percent = 70%
$stronger-percent = 100%
$text-visually-hidden = -9999px
$bottom-top-snippet = -150px
$size-between-help-texts = remify(40px)

/* color pallete */
$gray = #C7C7C7
$white = #FFF
$black = #000
$red = #ED1C24
$default-red = #F00
$lightred = #FFF0F0
$lightyellow = #E9EC21
$lightgreen = #00B005
$weakred = lighten($red, $light-percent)
$default = $black
$yellow = $default
$green = #436e43
$green-soccer = #020b07
$littleofgray = #FAFAFA
$bitofgray = #E6E6E6
$duperbitofgray = #B2B2B2
$kindagray = $gray
$gray-bottom = #F4F4F4
$gray-link = #A8A8A8
$gray-original = #CCC
$gray-highlight = #8D8887
$gray-user-details = #E5E5E5
$strongergray = darken($gray, $light-percent)
$gray-play-video = #555555
$cyan-light = #04A9D2

/* generals */
$default-color-after-opacity = #c1bec0
$default-background-color = $bitofgray
$default-background-ads = $gray
$default-color-brand-typo-website = $red
$size-logo = 200px