*.log
*.DS_Store
.htaccess
cgi-bin/
sitemap.xml
error_log
node_modules/
sitemap.xml.gz
site/wp-config.php
site/wp-admin/error_log
site/wp-content/error_log
error_log
sitemap.xml
sitemap.xml.gz
site/wp-content/advanced-cache.php
site/wp-content/backup-db/
site/wp-content/backups/
site/wp-content/blogs.dir/
site/wp-content/cache/
site/wp-content/upgrade/
site/wp-content/uploads/
site/wp-content/wp-cache-config.php

/readme.html
/license.txt