/*!
 * Four Wheels! - common/header.styl
 * Header stylus for fourwheels website 0.1
 * Author: Joao Guilherme Cheffer Prado
 * Date: 03/2016
 */

/* =============================================================================
  Local Variables
  ========================================================================== */

$ads-header-width = 720px
$ads-header-height = 90px

/* =============================================================================
	Header Style
   ========================================================================== */

.ads-header
  width remify($ads-header-width)
  height remify($ads-header-height)